<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Healthcare Chat Bot</title>
    </head>
    <body>
        
        {% include 'StaffLink.html'%}
        <div class="main">
            <center>
        <h1>Add  Food</h1>
        {% include 'M.html'%}
        <form action="AddFood" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table cellspacing="10" cellpadding="10">
                {{myform.as_table}}
                <tr>
                    <th><input type="reset" value="Clear"></th>
                    <th>
                        <input type="submit" value="Add Food"></input>
                    </th>
                </tr>
            </table>
            
            
        </form>
    
    </body>
    </html>