<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Healthcare Platform</title>
    <style>
        h1{
            font-family: 'Fira Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
        }
    </style>
</head>
<body>
    {% include 'CommonLink.html'%}
        <div class="main2">
            <center>
    <h1 style="background-color: azure;">Digital Healthcare Platform
    </h1>
    
</body>
</html>