<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Healthcare Platform</title>
</head>
<body>
<center>
    <h1 style="color:blue;font-size: 20px;">Digital Health care Website among Doctor and Patients for an Authenticate  Services</h1>
    <h4 style="font-size: 15px;">Web application for medicare system  </h4>
    <p style="font-size: 15px;">{{today}}</p>
    <br>
    
    <h3 style="color:rgb(87, 10, 17);font-size: 15px;">{{dname}},{{dqual}}</h3>
    <h3 style="color:rgb(87, 10, 17);font-size: 15px;">{{drole}}-{{hospital_or_clinic_name}}</h3>
    <p style="font-size: 15px;">{{dmobile}}</p>
    <hr>
    </center>
    <br><br>
    <h2 style="color:rgb(133, 8, 8);font-size: 15px;">Name: {{uname}}</h2>
    <p style="font-size: 15px;">Mail: {{umail}}</p>
    <p style="font-size: 15px;">Mobile: {{umobile}}</p>
    <hr>
    <h2 style="color:rgb(33, 10, 161);font-size: 15px;">Problem</h2>
    <p style="font-size: 15px;">{{chat}}</p>
    
    <h2 style="color:rgb(33, 10, 161);font-size: 15px;">Solution</h2>
    <pre><p style="font-size: 15px;">{{reply|linebreaksbr|safe}}</p></pre>
</body>
</html>