


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare Chat Bot</title>
    
</head>
<body>
    {% load static %}
  
    {% include 'AdminLink.html'%}
    <div class="main">
        <center>
    <h1> View User</h1>
    {% include 'M.html'%}
    <table class="table table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> Id</th>
            <th scope="col"> Name</th>
            <th scope="col"> Mobile</th>
            <th scope="col"> Mail</th>
            <th scope="col">Password</th>
            <th scope="col">Contact Number</th>
            
        </tr>
    </thead>
        {% for i in p %}
        <tr>
            <td>{{i.uid}}</td>
            <td>{{i.name}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.mail}}</td>
             <td>{{i.password}}</td>
             <td>{{i.mobile}}</td>
             
             <!-- <td><a href="{% url 'DeleteUser' %}?A={{i.uid}}">Delete</a></td> -->
             {% endfor %}   

        </tr>
    </table>
    
</body>
</html>